<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <form action="/login" method="post" class="d-flex flex-column w25 tex-center">
                <h1 class="text-warning">Log in</h1>
                <label>Email <input type="email" name="email"></label>
                <label> Password <input type="password" name="password"></label>
                <input type="submit" value="Log in" class="btn btn-primary">
            </form>
        </div>
    </div>
</body>
</html>